<!DOCTYPE html>
<html class="spectrum spectrum--large spectrum--light">
<head>
    <%
        var options = htmlWebpackPlugin.options;
    %>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="">
    <meta name="twitter:title" property="og:title" itemprop="title name" content="<%- options.title %>" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="">
    <meta name="robots" content="noindex,nofollow,noodp" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-128x128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-196x196.png" sizes="196x196">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="stylesheet" href="https://use.typekit.net/ijo2okn.css">
    <meta name="application-name" content="Adobe Geneva">
    <meta name="msapplication-TileColor" content="#2b2b2b">
    <meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="/assets/icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/assets/icons/mstile-150x150.png">
    <!-- <meta name="msapplication-wide310x150logo" content="assets/icons/mstile-310x150.png"> -->
    <meta name="msapplication-square310x310logo" content="/assets/icons/mstile-310x310.png">
    <title><%- options.title %></title>

    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%- htmlWebpackPlugin.files.favicon %>">
    <% } %>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%- htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

</head>
<body>

    <div id="root">
    </div>

    <script>
      window.GanvasWeb = window.GanvasWeb || {};
      window.GanvasWeb.environment = `<%= options.env %>`;
    </script>
</body>
</html>
